.cartViewContainer {
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
}

.cartViewInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #3fdba7;
    color: #ffffff;
    border: 1px solid #333333;
    border-radius: .5rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.button:hover {
    background-color: #217559;
    border: 1px solid #3fdba7;
}

.cartViewInfo p {
    border: 2px solid #3fdba7;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    border-radius: 1rem;
}