.loadingContainer {
    text-align: center;
    margin: 1rem auto;

}

.loadingText {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}