body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    height: 70px;
    display: flex;
    align-items: center;
}

.navbarContainer {
    color: #3fdba7;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.navbar h1 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #3fdba7;
    margin: 0 15px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.navLinks a {
    color: #3fdba7;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.navLinks a:hover,
.navbar h1:hover {
    background-color: #f31a50;
}